[Unit]
Description=DNSMap Daemon Service
After=network.target

[Service]
ExecStart=/usr/local/bin/dnsmap -a 0.0.0.0 -p 53 -u 9.9.9.10 -r 10.64.0.0/15
Restart=always
RestartSec=5s
MemoryLimit=128M
User=root
Group=root
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dnsmap

[Install]
WantedBy=multi-user.target
